
    <form name="f1" method="POST" action="/savecontact">
    <h1>
       Name<input type="text"  name="name"><br>
        contact<input type="text"  name="contact"><br>
        <input type=submit value="save">
    </h1>
    </form>